@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background-color: $color-black!important;
    font-family: "Open Sans";
}

.body {
    background-image: url('./resources/img/background.png');
    background-position: center top;
    background-size: 100% 100%;
    height: 622px;
    background-repeat: no-repeat;
}

.bkgd-purple {
    background: $color-purple!important;
}

.border-purple {
    border: 2px solid $color-purple!important;
}

.bkgd-transparent {
    background: transparent!important;
}

.color-white{
    color: $color-white;
}

.filter-button {
    border: 2px solid $color-purple!important;
    background: rgba(0, 0, 0, 0.6)!important;
    &:hover {
        background: rgba(107, 99, 181, 0.6)!important;
    }

    &:active, &:focus {
        background: #6B63B5!important;
    }
}

.gradient {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;

    @media (max-width: 992px) {
        border-top-right-radius: 0.75rem;
        border-bottom-left-radius: 0;
    }
}

.gradient-orange {
    background: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
}

.gradient-green {
    background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
}

.gradient-blue {
    background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
}

.gradient-yellow {
    background: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
}

.card{
    border: none!important;
    border-radius: 0.75rem!important;
}

.cursor-pointer {
    cursor: pointer;
}

.filter {
    margin-top: -15%;
    @media (max-width: 992px) {
        margin-top: -15%;
    }
}

.circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.mini-circle{
    margin-top: 10%;
    height: 30px;
    width: 30px;
}

@media (max-width: 991.98px) {
    .show-on-small {
        display: block!important;
    }

    .hide-on-small {
        display: none!important;
    }
}

@media (min-width: 992px) {
    .show-on-small {
        display: none!important;
    }

    .hide-on-small {
        display: block!important;
    }
}

.dropdown-favorites {
    width: 281px;
    background: #6B63B5!important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background: #585191!important;
}

.w-100 {
    width: 100%!important;
}

.w-50 {
    width: 50%!important;
}

// Font sizes
.fz-16 { font-size: 16px }
.fz-15 { font-size: 15px }
.fz-14 { font-size: 14px }
.fz-12 { font-size: 12px }
